# Database URL (SQLite untuk dev lokal, atau Postgres/Turso untuk deploy Vercel)
DATABASE_URL="file:./dev.db"

# JWT Secret untuk Autentikasi Admin
JWT_SECRET="ganti-dengan-secret-key-aman"

# Identitas Dinas
NEXT_PUBLIC_APP_NAME="SI-PERINDAG"
NEXT_PUBLIC_REGION_NAME="Dinas Perindustrian dan Perdagangan"
